        .form-group{
            margin-bottom: 15px;
        }

        label{
            margin-bottom: 15px;
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 11px;
            padding-top: 3px;
        }

        .main-login{
            background-color: #fff;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

        }
        .form-control {
            height: auto!important;
            padding: 8px 12px !important;
        }
        .input-group {
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
        }
        
        .main-center{
            margin-top: 30px;
            margin: 0 auto;
            max-width: 400px;
            padding: 10px 40px;
            background:#009edf;
            color: #FFF;
            text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

        }
        span.input-group-addon i {
            color: #009edf;
            font-size: 17px;
        }

        .login-button{
            margin-top: 5px;
        }

        .login-register{
            font-size: 11px;
            text-align: center;
        }


       .nav_icons {
           display: inline-block;
           left=50%;
       }

       #header-logo {
         height: 70px;
        margin-left: 30px;
        margin-top: 15px;
      }

       .buttonss {
           text-align: right;
           margin-top: 35px;
           font-family: 'Humbug', sans-serif;
           font-weight: 300;
           font-size: 1em;
           list-style-type: none;
           padding: 4px;
           color: #888;
       }

       .header_name {
           text-align: right;
           margin-top: -50px;
       }

       .header_name:hover {
           text-decoration: none;
           color: #777;
       }

       .header_name h2 {
         font-family: 'Rambla', sans-serif;
         color: #bd352f;
         font-size: 58px;
       }


       .social_media_icons {
           float: right;
           margin-top: 25px;
           margin-left: 10px;
       }

       .navbarspace {
           margin-left: 5px;
           margin-right: 5px;
       }

       .navbarplace {
           text-align: center;
       }

       .navbarplace h4 {
           margin-bottom: 0;
           color: #000;
       }

       .navbarspace:hover {
           text-decoration: none;
           background: #f2f2f2!important;
       }



       @media all and (max-width: 991px) and (min-width: 768px) {
         .navbarspace img {
             display: block;
             width: 50px;
             height: 50px;
             margin: 0 auto;
             margin-top: 5px
         }

         .navbarplace a.nav_icons.navbarspace {
             width: 100px;
             height: 91px;
             background: #fff;
             padding: 5px;
         }
       }

       @media all and (min-width:992px)
       {
         .navbarspace img {
             display: block;
             width: 64px;
             height: 64px;
             margin: 0 auto;
             margin-top: 5px
         }

         .navbarplace a.nav_icons.navbarspace {
             width: 125px;
             height: 115px;
             background: #fff;
             padding: 5px;
         }

       }

       .thumbnail img {
            width: 100%;
        }

        .thumbnail {
            padding:0;
            position: relative;
             width: 250px;
            height: 200px;
            overflow: hidden;
        } 

        .thumbnail .caption-full{
            padding:9px;
        }

        .details{
          margin-bottom: 15px;
        }


       /*footer bottom*/

       .footer-bottom {
           background-color: #15224f;
           min-height: 30px;
           width: 100%;
       }

       .copyright {
           color: #fff;
           line-height: 30px;
           min-height: 30px;
           padding: 7px 0;
       }

       .design {
           color: #fff;
           line-height: 30px;
           min-height: 30px;
           padding: 7px 0;
           text-align: right;
       }

       .design a {
           color: #fff;
       }

       .footer-bottom {
         margin-top: 20px;
       }

       /*DROP DOWN*/

       .icon-with-dropdown {
         position:relative;
         display:inline-block;
         margin-left: 5px;
         margin-right: 5px;
       }
       .icon-with-dropdown .navbarspace {
         margin: 0;
         width: 135px!important;
       }
       .icon-with-dropdown .dropdown-menu {
         min-width:125px;
         width:100%;
         top:98%;
         border: none;
         border-radius: 0;
         background:#FFF;
       }
       .icon-with-dropdown .dropdown-menu li a {
         font-size: 15px;
         padding: 5px 8px;
       }
       .icon-with-dropdown .dropdown-menu li a:hover {
         background: #F2F2F2!important;
       }



       /*BACKGROUND IMAGE*/
       #background-image {
         width:100%;
         position: fixed;
         opacity: 0.75;
         z-index: 3;
         left: 0;
         top: 0;
       }
       nav {
         position: relative;
         z-index:500;
       }

       section {
         position:relative;
         z-index: 200;
       }

       section>.container {
         background: #fff;
         padding-bottom: 20px;
       }
       section>.container>.page-header {
         margin-top: 20px;
       }

       body>.row{
         position: relative;
         z-index:50;
         background: #fff;
       }

       body>.footer-bottom {
         position: relative;
         z-index: 50;
       }

       #big-img .jumbotron p {
         font-size:25px;
       }
       #big-img .jumbotron {
         background-size: cover;
         color: #fff;
         text-shadow: 3px 2px 3px #bd372e;
         height:380px;
         padding-top: 80px;
         background-image: url('../img/jumbotron.jpg');
         background-repeat: no-repeat;
         background-position: center -200px;
         background-attachment: scroll;
       }
       .media-body a {
           color: #747474;
       }

       .media-body a h4 {
           color: #1a1a1a
       }

       .media-body a:hover {
           text-decoration: none!important;
       }